# requirements.txt
absl-py==0.5.0
astor==0.7.1
bzip2==1.0.6
ca-certificates==2018.03.07
certifi==2018.10.15
django==2.1.2
freetype==2.9.1
gast==0.2.0
gunicorn==19.1.0
h5py==2.8.0
hdf5==1.10.2
intel-openmp
keras-applications==1.0.6
keras-preprocessing==1.0.5
libffi==3.2.1
libpng==1.6.35
libtiff==4.0.9
markdown==2.6.11
mkl==2019.0
mkl_random==1.0.1
ncurses==6.1
numpy==1.15.2
numpy-base==1.15.2
olefile==0.46
openblas==0.3.3
openssl==1.0.2p
pillow==5.3.0
python==3.6.6
pytz==2018.5
scipy==1.1.0
setuptools==40.4.3
six==1.11.0
sqlite==3.25.2
tensorboard==1.11.0
tensorflow==1.11.0
tensorflow-base==1.11.0
termcolor==1.1.0
werkzeug==0.14.1
wheel==0.32.1
xz==5.2.4
zlib==1.2.11
